body{
    background-color: #161b22;
}

.admin-nav{
    background-color: #222830;
    color: white !important;
    height: 100px;
}

.btn{
    background-color: #0d1117;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
    text-align: left;
    height: 60px;
}

.logout{
    text-decoration: solid;
    font-weight: bold;
}